body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 17px;
    font-weight: 100;

    width: 75%;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #ffffff;
}

                          /*H E A D E R*/
.header-menu {
    list-style: none;

    display: flex;

    width: 75%;
    position: fixed;
    padding: 0;
    top: 0;

    font-size: 25px;
}
/*.header-menu .button1 {*/
    /*margin-left: 0;*/
/*}*/
.header-menu li {
    display: inline-block;

    flex-grow: 3;

    height: 50px;

    /*padding-top: 15px;*/
    margin-left: 15px;

    text-align: center;

    /*background-color: #144c38;*/
}
.header-menu .site-name {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;

    color: #fff;
    font-weight: 400;

    background-color: #144c38;
}
.header-menu li a {
    display: block;

    padding: 15px 35px;

    background-color: #144c38;
}
.current-page{
    color: #ffff4e;
}
.header-menu li:hover {
    opacity: 0.7;
}
.header-menu .site-name:hover {
    opacity: 1;
}
                            /*M A I N*/

h1  {
    text-align: center;
    text-transform: uppercase;

    margin-top: 120px;
}
.pictures {
    width: 75%;
    /*display: flex;*/
    margin: 0 auto;
}
.pictures img {
    display: inline-block;

    max-height: 275px;
    /*flex-grow: 1;*/
}
h2  {
    margin-top: 35px;
    font-weight: 400;
}
.first-line{
    color: #9ea9b9;
}
table td {
    padding: 10px;

    border-bottom: 1px solid #6b737d;
}
table tr:last-child td{
    border-bottom: none;
}
.table-first-column, .table-second-column {
    border-right: 1px solid #6b737d;
}
.table-first-column {
    color: #9ea9b9;
}
main p:last-child {
    margin-bottom: 100px;
}
                            /*F O O T E R*/
footer {
    height: 30px;

    width: 75%;
    padding-top: 10px;
    margin: 0 auto;

    position: fixed;
    bottom: 0;

    text-align: center;
    vertical-align: middle;

    color: #c9d3e2;
    background-color: #4d545e;
}
